[Unit]
Description=geyser stream service
After=network-online.target

[Service]
Type=simple
ExecStart={{ app_root }}/sb_dl --log-file {{ app_root }}/sb_dl_geyser.log --config {{ app_root }}/config.yaml services geyser-stream --failed-blocks {{ app_root }}/failed_blocks

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target